<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.karim.shopandsave">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
    android:allowBackup="true"
    android:icon="@drawable/logo_app"
    android:label="@string/app_name"
    android:roundIcon="@drawable/logo_app"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
        android:name="com.example.karim.shopandsave.Splash"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


    <activity
        android:name="com.example.karim.shopandsave.Main2Activity"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.example.karim.shopandsave.Home"
        android:screenOrientation="portrait">

    </activity>
    <activity
        android:name="com.example.karim.shopandsave.Home_categories"
        android:screenOrientation="portrait" />
    <activity
        android:name="com.example.karim.shopandsave.Product_details"
        android:screenOrientation="portrait" />
    <activity
        android:name="com.example.karim.shopandsave.Buy"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.example.karim.shopandsave.SallerMapActivity"
        android:screenOrientation="portrait"/>


</application>

</manifest>
